.footer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);

  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100vw;
}

.footer > * {
  width: 100vw;
}

.footer__principal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__principal ul {
  display: flex;
  gap: 10px;
}
.footer__principal li,
.footer__secondary li {
  border-radius: 2px;
  padding: 5px;

  position: relative;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.footer__principal li:active img {
  transform: scale(0.9);
}

.footer__principal li.opened::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;

  transform: translateX(-50%);

  height: 3px;
  width: 20%;
  border-radius: 3px;
  background-color: #88848a;
}
.footer__principal li.opened.active::before {
  width: 40%;
  background-color: #3f3f3f;
}

.footer__principal li:hover,
.footer__principal li.active {
  background-color: rgba(255, 255, 255, 0.8);
}

.footer__principal img {
  max-height: 30px;
}

.footer__secondary {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.footer__secondary ul {
  display: flex;
  align-items: center;
  gap: 5px;

  color: #4b494c;
}
.footer__secondary ul:nth-last-child(1) {
  margin-right: 20px;
}

.footer__secondary {
  position: absolute;
  right: 0;
  width: auto;
  height: 100%;
  font-size: 0.75rem;
}
.footer__input-method,
.footer__date {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}

@media (max-width: 940px) {
  .footer__principal {
    justify-content: flex-start;
    padding-left: 20px;
  }
  .footer {
    justify-content: flex-start;
  }
}

@media (max-width: 700px) {
  .footer__principal {
    justify-content: center;
    padding-left: 0px;
  }
  .footer__secondary {
    display: none;
  }
}

@media (max-width: 350px) {
  .footer__principal li img {
    height: 25px;
    width: 25px;
  }
}
